<div class="container text-center" *ngIf="users | async; let users;">
    <div class="row row-header">
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div href="#" [class.active]="sortType === 'Name'" (click)="setOrder('Name')">
                        Name <span [hidden]="sortReverse">▼</span><span [hidden]="!sortReverse">▲</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [class.active]="sortType === 'Surname'" (click)="setOrder('Surname')">
                        Surname <span [hidden]="sortReverse">▼</span><span [hidden]="!sortReverse">▲</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div [class.active]="sortType === 'Email'" (click)="setOrder('Email')">
                        Email <span [hidden]="sortReverse">▼</span><span [hidden]="!sortReverse">▲</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [class.active]="sortType === 'Gender'" (click)="setOrder('Gender')">
                        Gender <span [hidden]="sortReverse">▼</span><span [hidden]="!sortReverse">▲</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="row" *ngFor="let user of users | orderBy:sortType:sortReverse">
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">{{user.Name}}</div>
                <div class="col-sm-12 col-md-6">{{user.Surname}}</div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">{{user.Email}}</div>
                <div class="col-sm-12 col-md-6">{{genderType[user.Gender]}}</div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a class="nav-link" routerLink="../user" [queryParams]="{ id: user.Id }" routerLinkActive="active">
                        <button>Edit</button>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <button (click)="onDeleteUser(user.Id)">Delete</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-2 text-center">
            {{user.Name}}
        </div>
        <div class="col-xs-2 col-half-offset text-center">
            {{user.Surname}}
        </div>
        <div class="col-xs-2 col-half-offset text-center">
            {{user.Email}}
        </div>
        <div class="col-xs-2 col-half-offset text-center">
            {{user.Gender}}
        </div>
        <div class="col-xs-2 align-self-end text-center">
            <button (click)="onEditUser(user.Id)">Edit</button>
        </div>
        <div class="col-xs-2 col-half-offset columnDelete text-center">
            <button (click)="onDeleteUser(user.Id)">Delete</button>
        </div> -->
    </div>
</div>
