<div class="header">
    <p class="reg-header">REGISTRATION</p>
</div>
<div class="content">
    <div class="social-buttons" *ngIf="!isLogged">
        <button class="ui facebook button" [ngClass]="{'loading': floader, 'disabled': isLoading()}" (click)="loginWithFacebook()">
        <i class="facebook icon"></i>
        Facebook
      </button>
        <button class="ui google plus button" [ngClass]="{'loading': gloader, 'disabled': isLoading()}" (click)="loginWithGoogle()">
        <i class="google plus icon"></i>
        Google 
      </button>
        <button class="ui twitter button" [ngClass]="{'loading': tloader, 'disabled': isLoading()}" (click)="loginWithTwitter()">
        <i class="twitter icon"></i>
        Twitter
      </button>
    </div>
</div>